In [9]:
NEW_VARIABLE = ['SalaryPerHour', 'Employer Provided Salary', 'Minimum Salary', 'Maximum Salary', 'Average Salary', 'State', 'Company_Age_years']
DATA_PATH ='./data/Raw_Data/rawData.csv'
CLEAN_DATA_PATH = './data/Cleaned_Data/cleanData.pkl'

# First Import Our Data

In [10]:
# import important packages
import pandas as pd
import numpy as np
import pickle
Data = pd.read_csv(DATA_PATH)
Data.head(10)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
5,5,Data Scientist,$71K-$119K (Glassdoor est.),CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\r\n3.4,"Dallas, TX","Dallas, TX",201 to 500 employees,2000,Company - Public,Real Estate,Real Estate,$1 to $2 billion (USD),"Digital Realty, CoreSite, Equinix"
6,6,Data Scientist,$54K-$93K (Glassdoor est.),Job Description\r\n\r\n**Please only local can...,4.1,ClearOne Advantage\r\n4.1,"Baltimore, MD","Baltimore, MD",501 to 1000 employees,2008,Company - Private,Banks & Credit Unions,Finance,Unknown / Non-Applicable,-1
7,7,Data Scientist,$86K-$142K (Glassdoor est.),Advanced Analytics – Lead Data Scientist\r\nOv...,3.8,Logic20/20\r\n3.8,"San Jose, CA","Seattle, WA",201 to 500 employees,2005,Company - Private,Consulting,Business Services,$25 to $50 million (USD),-1
8,8,Research Scientist,$38K-$84K (Glassdoor est.),SUMMARY\r\n\r\nThe Research Scientist I will b...,3.3,Rochester Regional Health\r\n3.3,"Rochester, NY","Rochester, NY",10000+ employees,2014,Hospital,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1
9,9,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\r\n4.6,"New York, NY","New York, NY",51 to 200 employees,2009,Company - Private,Internet,Information Technology,$100 to $500 million (USD),"Clicktripz, SmarterTravel"

# Data Wrangling

## First Data Cleaning

**1- Salary Estimate Variable**

I notice that salary varaible has (Glassdoor est.) on it at first so I need to delete it.

In [11]:
Data['Salary Estimate'] = Data['Salary Estimate'].apply(lambda x : x.split('(')[0])
Data['Salary Estimate'].value_counts()

-1                  214
$86K-$143K            6
$54K-$115K            6
$49K-$113K            6
$21-$34 Per Hour      6
                   ...
$74K-$119K            1
$55K-$97K             1
$15K-$16K             1
$61K-$106K            1
$62K-$113K            1
Name: Salary Estimate, Length: 417, dtype: int64

notice that there is a salary with -1 so i decided to ignore this Observations.

In [12]:
Data = Data[Data['Salary Estimate'] != '-1']
Data['Salary Estimate'].value_counts()

$49K-$113K          6
$86K-$143K          6
$54K-$115K          6
$21-$34 Per Hour    6
$74K-$124K          5
                   ..
$74K-$119K          1
$55K-$97K           1
$15K-$16K           1
$61K-$106K          1
$62K-$113K          1
Name: Salary Estimate, Length: 416, dtype: int64

need to remove $ sign and K sign.

In [13]:
Data['Salary Estimate'] = Data['Salary Estimate'].apply(lambda x: x.replace('$', '').replace('K', '000'))
Data['Salary Estimate'].value_counts()

49000-113000      6
86000-143000      6
54000-115000      6
21-34 Per Hour    6
74000-124000      5
                 ..
74000-119000      1
55000-97000       1
15000-16000       1
61000-106000      1
62000-113000      1
Name: Salary Estimate, Length: 416, dtype: int64

notice also there is 'Per Hour and Employed Provided Salary' for that i will creat new columns for those.

In [14]:
Data[NEW_VARIABLE[0]] = Data['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
Data[NEW_VARIABLE[1]] = Data['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)
Data

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,SalaryPerHour,Employer Provided Salary
0,0,Data Scientist,53000-91000,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0
1,1,Healthcare Data Scientist,63000-112000,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0
2,2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0
3,3,Data Scientist,56000-97000,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0
4,4,Data Scientist,86000-143000,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",58000-111000,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK\r\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0
951,951,Senior Data Engineer,72000-133000,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0
952,952,"Project Scientist - Auton Lab, Robotics Institute",56000-91000,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0
953,953,Data Science Manager,95000-160000,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0
955,955,Research Scientist – Security and Privacy,61000-126000,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0

In [15]:
Data['Salary Estimate'] = Data['Salary Estimate'].apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary:', ''))

create new to columns for min and max Salary

In [16]:
Data[NEW_VARIABLE[2]] = Data['Salary Estimate'].apply(lambda x: x.split('-')[0]).astype(int)
Data[NEW_VARIABLE[3]] = Data['Salary Estimate'].apply(lambda x: x.split('-')[1]).astype(int)
Data[NEW_VARIABLE[4]] = (Data['Maximum Salary'] + Data['Minimum Salary']) / 2

Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 955
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                742 non-null    int64
 1   Job Title                 742 non-null    object
 2   Salary Estimate           742 non-null    object
 3   Job Description           742 non-null    object
 4   Rating                    742 non-null    float64
 5   Company Name              742 non-null    object
 6   Location                  742 non-null    object
 7   Headquarters              742 non-null    object
 8   Size                      742 non-null    object
 9   Founded                   742 non-null    int64
 10  Type of ownership         742 non-null    object
 11  Industry                  742 non-null    object
 12  Sector                    742 non-null    object
 13  Revenue                   742 non-null    object
 14  Competitors               742 non-null    object
 15  SalaryPerHour             742 non-null    int64
 16  Employer Provided Salary  742 non-null    int64
 17  Minimum Salary            742 non-null    int32
 18  Maximum Salary            742 non-null    int32
 19  Average Salary            742 non-null    float64
dtypes: float64(2), int32(2), int64(4), object(12)
memory usage: 115.9+ KB

Now I finished cleaning Salary Column.

**2- Caompany Name Variable**

Remove rating from company names

In [17]:
Data['Company Name'] = Data['Company Name'].apply(lambda x :x.split('\n')[0])

Data

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,SalaryPerHour,Employer Provided Salary,Minimum Salary,Maximum Salary,Average Salary
0,0,Data Scientist,53000-91000,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53000,91000,72000.0
1,1,Healthcare Data Scientist,63000-112000,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63000,112000,87500.0
2,2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80000,90000,85000.0
3,3,Data Scientist,56000-97000,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000,97000,76500.0
4,4,Data Scientist,86000-143000,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000,143000,114500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",58000-111000,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK\r,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58000,111000,84500.0
951,951,Senior Data Engineer,72000-133000,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72000,133000,102500.0
952,952,"Project Scientist - Auton Lab, Robotics Institute",56000-91000,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,0,0,56000,91000,73500.0
953,953,Data Science Manager,95000-160000,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1,0,0,95000,160000,127500.0
955,955,Research Scientist – Security and Privacy,61000-126000,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1,0,0,61000,126000,93500.0

**3- Location**

create new columns for job states

In [18]:
Data[NEW_VARIABLE[5]] = Data['Location'].apply(lambda x: x.split(',')[1])
Data.State.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 WA              21
 NC              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 WI              10
 IN              10
 UT              10
 AZ               9
 MO               9
 AL               8
 GA               6
 KY               6
 DE               6
 MI               6
 CT               5
 IA               5
 LA               4
 OR               4
 NE               4
 NM               3
 KS               3
 ID               2
 MN               2
 Los Angeles      1
 RI               1
 SC               1
Name: State, dtype: int64

**4-Transformed founded date into age of company**

In [19]:
Data[NEW_VARIABLE[6]] = Data['Founded'].apply(lambda x : x if x < 0 else 2021 - x)
Data

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Sector,Revenue,Competitors,SalaryPerHour,Employer Provided Salary,Minimum Salary,Maximum Salary,Average Salary,State,Company_Age_years
0,0,Data Scientist,53000-91000,"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53000,91000,72000.0,NM,48
1,1,Healthcare Data Scientist,63000-112000,What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,Health Care,$2 to $5 billion (USD),-1,0,0,63000,112000,87500.0,MD,37
2,2,Data Scientist,80000-90000,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,Business Services,$100 to $500 million (USD),-1,0,0,80000,90000,85000.0,FL,11
3,3,Data Scientist,56000-97000,*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56000,97000,76500.0,WA,56
4,4,Data Scientist,86000-143000,Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r,"New York, NY","New York, NY",51 to 200 employees,1998,...,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86000,143000,114500.0,NY,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,950,"Sr Scientist, Immuno-Oncology - Oncology",58000-111000,Site Name: USA - Massachusetts - Cambridge\r\n...,3.9,GSK\r,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,...,Biotech & Pharmaceuticals,$10+ billion (USD),"Pfizer, AstraZeneca, Merck",0,0,58000,111000,84500.0,MA,191
951,951,Senior Data Engineer,72000-133000,THE CHALLENGE\r\nEventbrite has a world-class ...,4.4,Eventbrite\r,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,...,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini",0,0,72000,133000,102500.0,TN,15
952,952,"Project Scientist - Auton Lab, Robotics Institute",56000-91000,The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,...,Education,Unknown / Non-Applicable,-1,0,0,56000,91000,73500.0,PA,37
953,953,Data Science Manager,95000-160000,Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,...,Business Services,$5 to $10 million (USD),-1,0,0,95000,160000,127500.0,PA,-1
955,955,Research Scientist – Security and Privacy,61000-126000,Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,...,Government,$50 to $100 million (USD),-1,0,0,61000,126000,93500.0,OH,54

**5- Job Describtion**

In [20]:

#python
Data['python'] = Data['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
 
#r studio 
Data['R'] = Data['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

#spark 
Data['spark'] = Data['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

#aws 
Data['AWS'] = Data['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

#excel
Data['excel'] = Data['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

## Save Cleaned Data

In [ ]:
Data.to_pickle(CLEAN_DATA_PATH)